:root {
  --75: rgba(41, 41, 41, .75);
  --zielen: #215039;
  --przezr: rgba(255, 255, 255, 0);
  --hover-text: rgba(255, 255, 255, .75);
  --white: white;
  --background: #292929;
  --color: rgba(255, 255, 255, .1);
  --black: black;
  --przezroczystosc: var(--hover-text);
  --29-50: rgba(41, 41, 41, .5);
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-layout-hflex {
  flex-direction: row;
  align-items: flex-start;
  display: flex;
}

.w-layout-layout {
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  grid-auto-columns: 1fr;
  justify-content: center;
  padding: 20px;
}

.w-layout-cell {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.w-pagination-wrapper {
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
}

.w-pagination-previous {
  color: #333;
  background-color: #fafafa;
  border: 1px solid #ccc;
  border-radius: 2px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 9px 20px;
  font-size: 14px;
  display: block;
}

.w-pagination-previous-icon {
  margin-right: 4px;
}

.w-pagination-next {
  color: #333;
  background-color: #fafafa;
  border: 1px solid #ccc;
  border-radius: 2px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 9px 20px;
  font-size: 14px;
  display: block;
}

.w-pagination-next-icon {
  margin-left: 4px;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

.navbar-logo-left-container {
  z-index: 5;
  background-color: rgba(0, 0, 0, 0);
  width: 1030px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 20px;
}

.navbar-logo-left-container.shadow-three {
  width: 100%;
  max-width: 1140px;
  margin-bottom: 0;
  padding-top: 40px;
  padding-bottom: 20px;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.navbar-wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.nav-dropdown {
  margin-left: 5px;
  margin-right: 5px;
}

.nav-dropdown-toggle {
  color: #fff;
  letter-spacing: .25px;
  padding: 5px 30px 10px 10px;
  font-family: Oswald, sans-serif;
  font-size: 24px;
  line-height: 1;
}

.nav-dropdown-toggle:hover {
  color: rgba(255, 255, 255, .75);
}

.nav-dropdown-toggle:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-toggle[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-list {
  background-color: #fff;
  border-radius: 12px;
}

.nav-dropdown-list.w--open {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-dropdown-list.shadow-three.w--open {
  background-color: var(--75);
}

.nav-dropdown-link {
  color: #fff;
  text-align: left;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Oswald, sans-serif;
  font-size: 14px;
}

.nav-dropdown-link:hover {
  color: var(--hover-text);
}

.nav-dropdown-link:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-link[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-link.w--current {
  color: var(--white);
  text-decoration: underline;
}

.body {
  background-color: var(--background);
}

.navbar-logo-left-2 {
  background-image: url('../images/navbar_graphic.png');
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: contain;
  height: 15vw;
  padding-left: 60px;
  padding-right: 60px;
}

.nav-menu-two-2 {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  display: flex;
}

.nav-link-2 {
  color: #fff;
  letter-spacing: .25px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px 10px;
  font-family: Oswald, sans-serif;
  font-size: 18px;
  line-height: 1;
  text-decoration: none;
}

.nav-link-2:hover {
  color: rgba(255, 255, 255, .75);
}

.nav-link-2:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-link-2[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-icon-2 {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
  margin-top: 5px;
  margin-right: 10px;
  font-size: 20px;
}

.text-block-2 {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
  margin-right: 10px;
  font-size: 18px;
}

.section {
  flex-flow: row;
  justify-content: center;
  align-items: flex-end;
  height: 350px;
  display: flex;
}

.image-2 {
  height: 70px;
}

.div-block {
  background-color: var(--hover-text);
  height: 1px;
}

.container-2 {
  z-index: 1;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 0;
  display: flex;
  position: relative;
}

.text-baner {
  color: var(--white);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
  margin-top: auto;
  margin-bottom: auto;
  font-family: Oswald, sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.image-5 {
  width: 2vw;
  height: 2vw;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
}

.container-4 {
  margin-left: 0;
  display: flex;
}

.container-4.ze-spacingiem {
  margin-top: 10px;
  margin-bottom: 10px;
}

.image-8 {
  height: 350px;
  display: none;
  position: absolute;
  right: 0;
}

.button {
  background-color: var(--zielen);
  border-radius: 10px;
  height: 40px;
  margin-top: auto;
  padding: 10px 20px;
  font-family: Oswald, sans-serif;
  font-size: 20px;
}

.button.aktulnosci {
  border-style: none;
  margin: 20px 0 0 auto;
  font-size: 18px;
  font-weight: 300;
}

.button.aktulnosci.poprzednie {
  color: var(--white);
  margin-left: 0;
  margin-right: auto;
}

.image-10 {
  height: 300px;
  margin-right: auto;
}

.container-5 {
  margin-top: 20px;
  margin-left: auto;
  display: flex;
}

.image-11 {
  height: 100px;
}

.hero-heading-right {
  color: #fff;
  border-bottom: 1px #e4ebf3;
  padding: 80px 30px;
  position: relative;
}

.hero-heading-right.szkolenia-home {
  padding-top: 0;
  padding-bottom: 0;
}

.hero-heading-right.o-nas {
  padding-top: 40px;
  padding-bottom: 40px;
}

.hero-heading-right.szkolenia._2 {
  padding-top: 0;
}

.container-6 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.container-6.margin-top {
  margin-top: 60px;
}

.hero-wrapper {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
}

.hero-wrapper.change {
  width: 100%;
}

.hero-wrapper.second {
  flex-flow: row-reverse;
}

.hero-split {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 46%;
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
}

.margin-bottom-18px {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
}

.margin-bottom-18px.tresc {
  margin-top: 0;
}

.margin-bottom-18px._10-top {
  margin-top: 10px;
}

.tytul {
  color: var(--white);
  text-align: center;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
  margin: 0 auto 0 0;
  font-family: Oswald, sans-serif;
  font-size: 36px;
  font-weight: 500;
}

.tytul.margin-left {
  margin-right: 20px;
  font-size: 30px;
}

.tytul.margin-left.male-litery {
  margin-bottom: 10px;
  margin-right: auto;
  font-size: 28px;
}

.tytul-ozd {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, .2), 0 1px 1px rgba(0, 0, 0, .2);
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Benedict, sans-serif;
  font-size: 38px;
  font-weight: 400;
  line-height: 1;
}

.button-no-bg {
  color: var(--white);
  margin-top: 40px;
  margin-bottom: 0;
  font-family: Inter, sans-serif;
  font-size: 18px;
}

.button-no-bg.sociale {
  margin-top: auto;
}

.div-photo {
  background-image: url('../images/corgix2.jpg');
  background-position: 50%;
  background-size: cover;
  border-radius: 10px;
  width: 50%;
  height: 350px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
}

.div-photo.corgi-szkolenia {
  box-shadow: none;
  background-image: url('../images/puppu_home.png');
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: contain;
  width: 65%;
  height: 400px;
  margin-top: auto;
}

.div-photo.dystrybucja {
  background-image: url('../images/22218356_751504858387686_5302610118458304090_o.jpg');
}

.div-photo.corgi-sociale {
  box-shadow: none;
  background-image: url('../images/corgi_puppy_K.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.div-photo.o-nas-1 {
  background-image: url('../images/FB_IMG_1675258940493.jpg');
}

.div-photo.szkolenia-gr-1 {
  background-image: url('../images/grupowe1.png');
  background-position: 50% 0;
  margin-top: auto;
}

.div-photo.szkolenia-gr-2 {
  background-image: url('../images/grupowe2.png');
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.div-photo.kon-indy {
  background-image: url('../images/22218510_751504735054365_8217611432113467102_o.jpg');
  background-position: 50% 70%;
}

.div-photo.kon-ind-2 {
  background-image: url('../images/leonek.png');
}

.div-photo.handling-1 {
  background-image: url('../images/32215112_849036271967877_5639373913134727168_n.jpg');
}

.div-photo.handling-2 {
  background-image: url('../images/32158996_849036118634559_8768655675904491520_n.jpg');
}

.div-photo.spacery-1 {
  background-image: url('../images/32258028_849036628634508_8090579055394422784_n.jpg');
}

.div-photo.spacery-2 {
  background-image: url('../images/32202905_849036455301192_2126970347323392000_n.jpg');
}

.div-photo.kursy {
  background-image: url('../images/67242420_1136087306596104_1038615833401622528_n.jpg');
  background-position: 50% 20%;
}

.div-photo.kursy-2 {
  background-image: url('../images/67374793_1136087123262789_6537299833533759488_n.jpg');
  background-position: 50% 40%;
}

.div-photo.hotel-1 {
  background-image: url('../images/150154055_1589807331209079_5900477657743962531_n.jpg');
  background-position: 50% 0;
}

.div-photo.hotel-2 {
  background-image: url('../images/150226471_1589807194542426_7239772546795906554_n.jpg');
  background-position: 50%;
}

.div-photo.o-nas-3 {
  background-image: url('../images/FB_IMG_1675258402460.jpg');
}

.text-szkolenia {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Oswald, sans-serif;
  font-size: 22px;
  font-weight: 300;
  line-height: 1;
}

.container-stopka {
  flex-direction: row;
  max-width: none;
  margin: 0 0 10px;
  display: flex;
}

.container-17 {
  flex-direction: row;
  justify-content: space-around;
  margin-right: 0;
  padding-top: 40px;
  display: flex;
}

.div-block-8 {
  background-image: url('../images/logo.png');
  background-position: 50% 80%;
  background-repeat: no-repeat;
  background-size: contain;
  width: 30vw;
  height: 18vw;
  margin-top: 0;
  margin-right: auto;
}

.container-16 {
  margin-bottom: 10px;
}

.tytul-stopka {
  color: var(--white);
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
}

.container-kontakt {
  margin-left: 50px;
  margin-right: 0;
}

.container-kontakt.hide.show {
  font-family: Oswald, sans-serif;
}

.link-stopka {
  color: var(--white);
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 300;
  text-decoration: none;
}

.contai {
  flex-direction: column;
  align-items: flex-start;
  margin-left: 0;
  margin-right: 25px;
  font-family: Oswald, sans-serif;
  display: flex;
}

.footer {
  background-image: url('../images/footer.png');
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
  height: 350px;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  position: relative;
}

.text-block-4 {
  color: var(--white);
  font-family: Oswald, sans-serif;
  font-size: 16px;
  font-weight: 200;
  line-height: 1;
}

.link-block, .link-block-2 {
  text-decoration: none;
}

.image-52 {
  width: 70px;
  height: 70px;
  margin-right: 20px;
}

.text-block-5 {
  margin-top: 0;
  margin-bottom: auto;
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.link-block-no-bg {
  color: var(--white);
}

.link-blok-szkolenia {
  color: var(--white);
  text-decoration: none;
}

.link-blok-szkolenia:hover {
  text-decoration: underline;
}

.flex-block {
  flex-flow: column;
}

.image-53 {
  color: var(--white);
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 10px;
  width: 350px;
  height: 300px;
  margin-right: 20px;
  text-decoration: none;
  overflow: hidden;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
}

.section-2 {
  object-fit: contain;
  max-width: 1100px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 80px;
  padding-right: 80px;
}

.collection-item-2 {
  border-bottom: 1px solid var(--hover-text);
  margin-bottom: 40px;
  padding-bottom: 40px;
  display: flex;
}

.collection-item-2:last-child {
  border-bottom-style: none;
}

.heading-2 {
  color: var(--white);
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: Oswald, sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 1;
}

.container-19 {
  width: 60%;
  margin-left: 0;
  line-height: 1;
}

.text-block-6, .icon-2, .text-block-7, .icon-3 {
  color: var(--white);
}

.data {
  color: var(--white);
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 100;
}

.wpis {
  color: var(--white);
  margin-top: 20px;
  margin-bottom: 0;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.5;
}

.text-block-8, .icon-4 {
  color: var(--white);
}

.tytul-strony {
  color: var(--white);
  text-align: center;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
  margin-top: 40px;
  margin-bottom: 0;
  font-family: Oswald, sans-serif;
  font-weight: 500;
  line-height: 1;
}

.tytul-strony.see-more {
  font-size: 28px;
}

.container-20 {
  margin-left: 0;
  display: flex;
}

.podpis {
  color: var(--white);
  margin: 0 auto 0 0;
  padding-top: 140px;
  padding-left: 10px;
  font-family: Oswald, sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
}

.quick-stack {
  width: 100%;
  height: 250px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
}

.cell {
  background-image: linear-gradient(180deg, var(--przezr) 47%, var(--background) 94%), url('../images/32169935_849036658634505_4663113424253747200_n.jpg');
  background-position: 0 0, 0 0;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  border-radius: 10px;
}

.cell.spacery {
  background-image: linear-gradient(180deg, var(--przezr) 47%, var(--background)), url('../images/32336817_849036761967828_8304188493651771392_n.jpg');
  background-position: 0 0, 50%;
}

.cell.handling {
  background-image: linear-gradient(180deg, var(--przezr) 47%, var(--background) 94%), url('../images/47318037_990153967856106_2588005167806808064_n.jpg');
  background-position: 0 0, 50%;
}

.cell.kursy {
  background-image: linear-gradient(180deg, var(--przezr) 47%, var(--background) 94%), url('../images/47377816_990153871189449_6550044169732096_n.jpg');
  background-position: 0 0, 50%;
}

.cell.grupowe {
  background-image: linear-gradient(180deg, var(--przezr) 47%, var(--background) 94%), url('../images/grupowe.png');
  background-position: 0 0, 50%;
}

.section-3 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
  display: flex;
}

.section-3.margin-min {
  margin-bottom: 40px;
}

.link-block-3 {
  color: var(--white);
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.link-block-3:hover {
  text-decoration: underline;
}

.lightbox-link {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
}

.cell-2 {
  background-image: url('../images/65115496_1116739241864244_47111088247930880_n.jpg');
  background-position: 50%;
  background-size: cover;
  border-radius: 10px;
  text-decoration: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
}

.cell-2.hotel {
  background-image: url('../images/DSC_0025.JPG');
}

.gallery {
  height: 350px;
  padding: 40px 0 0;
  text-decoration: none;
}

.cell-3 {
  background-image: url('../images/32169416_849036538634517_7077970236812558336_n.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
}

.cell-3.hotel-2 {
  background-image: url('../images/DSC_0008.jpeg');
}

.cell-4 {
  background-image: url('../images/47221344_990153407856162_2088611534841315328_n.jpg');
  background-position: 50%;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
}

.cell-4.hotel-4 {
  background-image: url('../images/DSC_0004.jpeg');
}

.cell-5 {
  background-image: url('../images/65431499_1116739198530915_7202624623127560192_n.jpg');
  background-position: 50%;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
}

.cell-5.hotel-5 {
  background-image: url('../images/DSC_1005.jpeg');
}

.cell-6 {
  background-image: url('../images/65386607_1116739905197511_1838758710113992704_n.jpg');
  background-position: 50%;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
}

.cell-6.hotel-3 {
  background-image: url('../images/DSC_1137.jpeg');
}

.div-block-9 {
  background-color: var(--zielen);
  color: var(--white);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 50px;
  margin-top: auto;
  margin-bottom: 20px;
  margin-left: 20px;
  padding: 10px 15px;
  font-family: Oswald, sans-serif;
  font-size: 26px;
  line-height: 1;
  text-decoration: none;
  display: flex;
}

.paragraph-2 {
  margin: auto;
  text-decoration: none;
}

.paragraph-2:hover {
  text-decoration: none;
}

.quick-stack-4 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.cell-7 {
  border: 1px solid var(--color);
  background-color: var(--zielen);
}

.cell-7._2 {
  border-style: none solid solid;
  border-color: black var(--color) var(--color);
}

.heading-3 {
  color: var(--white);
  text-align: center;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  font-family: Oswald, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
}

.paragraph-3 {
  color: var(--white);
  margin-top: 10px;
  margin-left: 10px;
  margin-right: auto;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1;
}

.cena {
  color: var(--white);
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  font-family: Inter, sans-serif;
  font-size: 16px;
  line-height: 1;
}

.cell-8 {
  border-right: 1px solid var(--color);
  border-bottom: 1px solid var(--color);
  border-left: 1px solid var(--color);
}

.cell-9 {
  border-right: 1px solid var(--color);
  border-bottom: 1px solid var(--color);
}

.map {
  border-radius: 10px;
  width: 50%;
}

.paragraph-4 {
  color: var(--white);
  font-family: Inter, sans-serif;
  font-size: 18px;
  line-height: 2;
}

.paragraph-4.space {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 20px;
}

.container-21 {
  width: 45%;
  margin-right: 0;
}

.image-54 {
  width: 50px;
}

.container-22 {
  margin-top: 10px;
  display: flex;
}

.container-23 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: flex;
}

.container-24 {
  margin-left: 0;
  margin-right: 0;
  display: flex;
}

.tabs-menu {
  display: none;
}

.tabs {
  margin-top: 100px;
}

.div-block-10 {
  background-color: var(--hover-text);
  height: 1px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.image-55 {
  width: 350px;
  height: 300px;
}

.div-block-11 {
  background-color: var(--zielen);
  color: var(--white);
  border-radius: 10px;
  width: 40%;
  height: 40px;
  padding: 10px 20px;
  text-decoration: none;
  position: relative;
  top: auto;
  bottom: 54px;
  left: 10px;
  right: auto;
}

.text-block-9 {
  text-align: center;
  margin: auto;
  font-family: Oswald, sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.image-56 {
  object-position: 50% 100%;
}

@media screen and (min-width: 1280px) {
  .navbar-logo-left-container.shadow-three {
    padding-top: 40px;
  }

  .body {
    color: #fff;
    font-family: Oswald, sans-serif;
  }

  .section {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
  }

  .image-2 {
    height: 80px;
  }

  .image-8 {
    right: 0;
  }

  .container-6 {
    max-width: 1000px;
  }

  .div-photo.corgi-szkolenia {
    width: 60%;
    height: 450px;
  }

  .div-photo.corgi-sociale {
    box-shadow: none;
  }

  .container-17 {
    height: 200px;
    padding-top: 0;
  }

  .div-block-8 {
    background-position: 50%;
    max-width: 350px;
    height: 150px;
  }

  .container-kontakt.hide.show {
    height: 200px;
  }

  .link-stopka {
    font-family: Oswald, sans-serif;
  }

  .contai {
    height: 200px;
  }

  .footer {
    background-size: cover;
    height: 450px;
  }
}

@media screen and (min-width: 1440px) {
  .navbar-logo-left-container.shadow-three {
    max-width: none;
    padding-top: 40px;
    padding-left: 0;
    padding-right: 0;
  }

  .container {
    max-width: 1400px;
  }

  .nav-dropdown-toggle {
    padding-bottom: 5px;
  }

  .navbar-logo-left-2 {
    background-position: 50% 0;
    background-size: contain;
    height: 250px;
    padding-left: 140px;
    padding-right: 140px;
  }

  .nav-link-2 {
    font-size: 22px;
  }

  .text-block-2 {
    margin-right: 10px;
    font-size: 22px;
  }

  .section {
    background-image: none;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    max-width: none;
    height: 400px;
    margin-left: 0;
    margin-right: 0;
  }

  .image-2 {
    height: 80px;
  }

  .container-2 {
    justify-content: center;
    align-items: flex-start;
    margin-left: 0;
    position: static;
    left: 0;
  }

  .text-baner {
    font-size: 24px;
  }

  .container-4.ze-spacingiem {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .container-4.middle {
    margin-top: 40px;
  }

  .image-8 {
    height: 400px;
  }

  .button {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    margin-top: 40px;
    font-size: 24px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .25);
  }

  .image-10 {
    height: 350px;
  }

  .container-6 {
    max-width: 1000px;
  }

  .container-6.smaller {
    max-width: 940px;
  }

  .margin-bottom-18px {
    font-size: 18px;
  }

  .div-photo {
    width: 50%;
    height: 400px;
  }

  .div-photo.corgi-szkolenia {
    background-position: 50% 100%;
    height: 500px;
  }

  .div-photo.dystrybucja, .div-photo.corgi-sociale {
    height: 400px;
  }

  .div-photo.o-nas-1 {
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, .5);
  }

  .div-photo.szkolenia-gr-2 {
    background-position: 50% 80%;
    background-size: cover;
  }

  .container-stopka {
    min-width: 1000px;
    max-width: 1200px;
  }

  .container-17 {
    margin-top: auto;
    margin-bottom: 0;
  }

  .div-block-8 {
    max-width: 350px;
  }

  .link-stopka {
    font-size: 20px;
    line-height: 1;
  }

  .footer {
    background-position: 50% 100%;
    background-size: cover;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }

  .gallery {
    height: 450px;
  }

  .container-23 {
    max-width: 1000px;
  }
}

@media screen and (max-width: 991px) {
  .navbar-logo-left-container.shadow-three {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }

  .nav-menu-wrapper {
    background-color: rgba(0, 0, 0, 0);
  }

  .nav-dropdown-list.shadow-three.w--open {
    background-color: var(--zielen);
    border-radius: 0 0 20px 20px;
    margin-top: 0;
    position: absolute;
  }

  .nav-dropdown-link:hover {
    color: var(--hover-text);
  }

  .menu-button {
    padding: 12px;
  }

  .menu-button.w--open {
    color: #fff;
    background-color: rgba(200, 200, 200, 0);
  }

  .navbar-logo-left-2 {
    height: 150px;
  }

  .nav-menu-two-2 {
    background-color: var(--zielen);
    border-radius: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    padding: 20px;
    display: flex;
    box-shadow: 0 8px 50px rgba(0, 0, 0, .05);
  }

  .nav-link-2 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .text-block-2:hover {
    color: var(--hover-text);
  }

  .section {
    height: 300px;
  }

  .icon {
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
  }

  .container-2 {
    z-index: 1;
    margin-top: 41px;
    margin-left: 60px;
    position: relative;
  }

  .text-baner {
    font-size: 16px;
  }

  .container-4.ze-spacingiem {
    margin-top: auto;
    margin-bottom: auto;
  }

  .image-8 {
    height: 35vw;
    display: block;
  }

  .button {
    margin-top: auto;
    font-size: 18px;
  }

  .image-10 {
    display: none;
  }

  .image-11 {
    height: 80px;
  }

  .hero-heading-right.o-nas {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .container-6 {
    max-width: 728px;
  }

  .hero-wrapper {
    flex-flow: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 0;
  }

  .hero-split {
    width: 50%;
    max-width: 100%;
    margin-bottom: auto;
    margin-left: 10px;
  }

  .hero-split._2 {
    margin-left: 0;
    margin-right: 10px;
  }

  .margin-bottom-18px {
    font-size: 14px;
  }

  .tytul {
    font-size: 32px;
    line-height: 1;
  }

  .tytul-ozd {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 28px;
  }

  .button-no-bg {
    margin-top: 20px;
    font-size: 14px;
    line-height: 1;
  }

  .div-photo {
    height: 250px;
  }

  .div-photo.corgi-sociale {
    box-shadow: none;
  }

  .div-photo.o-nas-1 {
    background-image: url('../images/FB_IMG_1675258940493.jpg');
  }

  .div-photo.szkolenia-gr-1, .div-photo.szkolenia-gr-2, .div-photo.kon-indy, .div-photo.kon-ind-2, .div-photo.handling-1, .div-photo.handling-2, .div-photo.kursy, .div-photo.kursy-2 {
    margin-top: auto;
    margin-bottom: auto;
  }

  .container-stopka {
    max-width: none;
    padding-top: 40px;
  }

  .container-17 {
    max-width: none;
  }

  .div-block-8 {
    margin-top: 0;
  }

  .tytul-stopka {
    font-size: 18px;
  }

  .link-stopka {
    font-size: 14px;
  }

  .contai {
    max-width: none;
  }

  .footer {
    background-position: 100%;
    background-size: cover;
    height: 300px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .text-block-4 {
    font-size: 14px;
    font-weight: 300;
  }

  .text-block-5 {
    font-size: 16px;
  }

  .image-53 {
    object-fit: cover;
    object-position: 65% 50%;
    height: auto;
    max-height: 300px;
    margin-top: auto;
    margin-bottom: auto;
    overflow: hidden;
  }

  .container-19 {
    width: 50%;
  }

  .tytul-strony {
    margin-bottom: 0;
  }

  .tytul-strony.aktualnosci {
    margin-bottom: 60px;
  }

  .tytul-strony.see-more {
    margin-top: 0;
  }

  .quick-stack {
    height: auto;
  }

  .cell {
    background-position: 0 0, 50% 0;
  }

  .cell.spacery {
    background-position: 0 0, 50%;
  }

  .cell.handling {
    background-position: 0 0, 50% 0;
  }

  .cell.kursy {
    background-position: 0 0, 50%;
  }

  .map {
    margin-top: auto;
    margin-bottom: auto;
  }

  .paragraph-4 {
    font-size: 16px;
  }

  .container-23 {
    width: 100%;
    max-width: none;
  }

  .div-block-11 {
    width: 50%;
  }

  .image-56 {
    object-fit: cover;
    object-position: 50% 100%;
  }
}

@media screen and (max-width: 767px) {
  .navbar-logo-left-container {
    max-width: 100%;
  }

  .navbar-logo-left-container.shadow-three {
    padding-left: 40px;
    padding-right: 40px;
  }

  .navbar-brand {
    padding-left: 0;
  }

  .nav-dropdown {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .nav-dropdown-toggle {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-dropdown-list.shadow-three {
    box-shadow: 0 8px 50px rgba(0, 0, 0, .05);
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: relative;
  }

  .nav-dropdown-link {
    text-align: center;
  }

  .navbar-logo-left-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .nav-menu-two-2 {
    border-radius: 20px;
    flex-direction: column;
    padding-bottom: 30px;
  }

  .nav-link-2 {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .section {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }

  .div-block {
    display: none;
  }

  .container-2 {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: auto;
    position: static;
  }

  .image-5 {
    width: 5vw;
    height: 5vw;
  }

  .container-4, .container-4.ze-spacingiem, .container-4.ze-spacingiem.left {
    margin-left: 0;
  }

  .image-8 {
    height: auto;
    max-height: 300px;
    display: block;
    position: static;
  }

  .button {
    margin-top: auto;
    margin-left: 0;
    margin-right: auto;
  }

  .hero-heading-right {
    padding: 60px 40px;
  }

  .container-6.margin-top {
    flex-flow: column wrap;
    padding-left: 20px;
    padding-right: 20px;
  }

  .hero-wrapper {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    flex-flow: column;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    margin-bottom: 0;
    display: flex;
  }

  .hero-wrapper.change {
    flex-flow: column-reverse;
  }

  .hero-wrapper.second.chang {
    flex-flow: wrap;
  }

  .hero-split {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 0;
  }

  .tytul, .tytul-ozd {
    margin-left: auto;
    margin-right: auto;
  }

  .div-photo {
    background-position: 50% 80%;
    width: 100%;
  }

  .div-photo.corgi-szkolenia {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .div-photo.szkolenia-gr-2 {
    background-position: 50%;
  }

  .div-photo.kon-indy {
    background-position: 50% 65%;
  }

  .div-photo.kon-ind-2 {
    background-position: 50%;
  }

  .div-photo.spacery-1, .div-photo.spacery-2 {
    background-position: 50% 70%;
  }

  .div-photo.kursy {
    background-position: 50% 25%;
  }

  .div-photo.kursy-2 {
    background-position: 50% 35%;
  }

  .container-stopka {
    flex-direction: row;
    margin-top: auto;
    padding-top: 0;
  }

  .container-17 {
    width: 50%;
    height: auto;
    margin: auto auto 0 10px;
    padding-top: 0;
  }

  .div-block-8 {
    background-position: 50%;
    width: 35vw;
    height: auto;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
  }

  .tytul-stopka {
    font-size: 16px;
  }

  .container-kontakt {
    margin-left: 60px;
  }

  .container-kontakt.hide {
    display: none;
  }

  .container-kontakt.hide.show {
    flex-flow: column;
    margin-left: auto;
    display: flex;
  }

  .link-stopka {
    margin-bottom: 5px;
    font-size: 14px;
  }

  .contai {
    margin-left: auto;
    margin-right: 20px;
  }

  .footer {
    z-index: 2;
    height: 250px;
  }

  .text-block-4 {
    font-size: 12px;
  }

  .image-53 {
    width: 100%;
    height: 300px;
  }

  .section-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .collection-item-2 {
    flex-flow: column;
  }

  .container-19 {
    width: 100%;
  }

  .podpis {
    font-size: 16px;
  }

  .quick-stack {
    padding-left: 40px;
    padding-right: 40px;
  }

  .gallery {
    height: 300px;
    margin-left: 40px;
    margin-right: 40px;
  }

  .cell-3, .cell-6 {
    display: none;
  }

  .quick-stack-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .paragraph-3, .cena {
    font-size: 14px;
  }

  .map {
    width: 100%;
  }

  .container-21 {
    width: 100%;
    margin-top: 20px;
    margin-left: 0;
  }

  .container-24 {
    flex-flow: column;
  }

  .tabs {
    margin-top: 0;
  }

  .div-block-11 {
    width: 35%;
  }
}

@media screen and (max-width: 479px) {
  .navbar-logo-left-container.shadow-three {
    padding-right: 0;
  }

  .container {
    max-width: none;
  }

  .nav-dropdown-list.shadow-three.w--open {
    background-color: var(--przezr);
    box-shadow: none;
  }

  .nav-dropdown-link {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
    font-size: 16px;
  }

  .navbar-logo-left-2 {
    background-size: cover;
    padding-left: 10px;
    padding-right: 10px;
  }

  .nav-menu-two-2 {
    background-color: var(--zielen);
    flex-direction: column;
    margin-top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-dropdown-icon-2 {
    margin-top: auto;
    margin-bottom: auto;
  }

  .section {
    background-position: 100%;
    background-size: cover;
  }

  .image-2 {
    height: 60px;
  }

  .container-2 {
    margin-top: 20px;
  }

  .container-4, .container-4.ze-spacingiem, .container-4.ze-spacingiem.left {
    margin-left: 0;
  }

  .container-4.middle {
    margin-left: auto;
  }

  .image-8 {
    width: 500px;
  }

  .button {
    margin-top: auto;
    margin-left: 0;
  }

  .hero-heading-right {
    padding-left: 20px;
    padding-right: 20px;
  }

  .container-6 {
    max-width: none;
  }

  .hero-wrapper {
    flex-flow: column wrap;
  }

  .hero-wrapper.change {
    margin-bottom: 40px;
  }

  .hero-split {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .margin-bottom-18px {
    text-align: left;
  }

  .tytul.margin-left {
    text-align: left;
    margin-left: 0;
    font-size: 28px;
  }

  .tytul.margin-left.margin-bottom {
    margin-bottom: 10px;
  }

  .tytul-ozd {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    font-size: 36px;
  }

  .tytul-ozd.handling {
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 36px;
  }

  .tytul-ozd.margin-top {
    text-align: left;
    margin-top: 15px;
    margin-left: 0;
    font-size: 30px;
  }

  .tytul-ozd.margin-top.center {
    margin-left: auto;
    font-size: 40px;
  }

  .button-no-bg {
    margin-left: auto;
    margin-right: auto;
  }

  .div-photo.corgi-szkolenia {
    width: 100%;
    height: 250px;
  }

  .container-stopka {
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 0;
  }

  .container-17 {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
  }

  .div-block-8 {
    width: 250px;
    height: 100px;
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: auto;
  }

  .container-16 {
    margin-top: 10px;
  }

  .tytul-stopka {
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
  }

  .container-kontakt {
    margin-left: auto;
    margin-right: auto;
  }

  .container-kontakt.hide.show {
    margin-left: 0;
    display: none;
  }

  .link-stopka {
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
  }

  .contai {
    margin-left: auto;
    margin-right: auto;
  }

  .footer {
    background-size: cover;
    height: 300px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .text-block-4 {
    font-size: 14px;
  }

  .link-block, .link-block-2, .image-52 {
    margin-left: auto;
    margin-right: auto;
  }

  .text-block-5 {
    display: none;
  }

  .link-block-no-bg {
    margin-left: 0;
    margin-right: auto;
  }

  .image-53 {
    height: 250px;
  }

  .tytul-strony {
    font-size: 32px;
  }

  .tytul-strony.padding {
    margin-left: 20px;
    margin-right: 20px;
  }

  .container-20 {
    flex-flow: column;
    margin-left: 0;
  }

  .container-20.h-flex {
    flex-flow: row;
    margin-left: 0;
  }

  .quick-stack {
    padding-left: 20px;
    padding-right: 20px;
  }

  .gallery {
    margin-left: 20px;
    margin-right: 20px;
  }

  .cell-4, .cell-5 {
    display: none;
  }

  .cena {
    margin-top: auto;
    margin-bottom: auto;
  }

  .cell-8 {
    padding-right: 5px;
  }

  .paragraph-4.space {
    color: #fff;
  }

  .div-block-11 {
    width: 50%;
  }
}

#w-node-_0dc899f2-a213-647f-8d35-2cd248ae12bc-e7872188, #w-node-_171156eb-ecae-0fe7-fe10-886ebfee727a-4d6a704a {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#w-node-_096781e5-efad-f960-60f2-2d17521dcbc5-75873916 {
  grid-template-rows: auto auto;
  grid-template-columns: 2fr 1fr 1fr;
}

#w-node-_096781e5-efad-f960-60f2-2d17521dcbc6-75873916 {
  grid-row: span 2 / span 2;
}

#w-node-_779cabd3-7149-152c-5e60-95e08a6f5a80-75873916, #w-node-_1d6c0257-f138-6b93-ad5c-d38c9fd47028-1f1a769d, #w-node-_5faaf567-6a44-7eb8-575b-5ee658c76895-093eff72 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#w-node-bd7ee22e-f2b8-c9df-5c0c-389696415304-ebbb07ce {
  grid-template-rows: auto auto auto auto auto auto auto auto;
  grid-template-columns: 1fr 1fr;
}

#w-node-bd7ee22e-f2b8-c9df-5c0c-389696415305-ebbb07ce, #w-node-bd7ee22e-f2b8-c9df-5c0c-389696415310-ebbb07ce {
  grid-column: span 2 / span 2;
}

#w-node-_56de7f88-3bba-9c64-bfb3-9442991bcacb-ebbb07ce {
  grid-template-rows: auto auto;
  grid-template-columns: 2fr 1fr 1fr;
}

#w-node-_56de7f88-3bba-9c64-bfb3-9442991bcacc-ebbb07ce {
  grid-row: span 2 / span 2;
}

@media screen and (max-width: 991px) {
  #w-node-_0dc899f2-a213-647f-8d35-2cd248ae12bc-e7872188, #w-node-_171156eb-ecae-0fe7-fe10-886ebfee727a-4d6a704a, #w-node-_779cabd3-7149-152c-5e60-95e08a6f5a80-75873916, #w-node-_1d6c0257-f138-6b93-ad5c-d38c9fd47028-1f1a769d, #w-node-_5faaf567-6a44-7eb8-575b-5ee658c76895-093eff72 {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 767px) {
  #w-node-_096781e5-efad-f960-60f2-2d17521dcbc5-75873916 {
    grid-template-rows: auto auto;
    grid-template-columns: 2fr 1fr;
  }

  #w-node-_096781e5-efad-f960-60f2-2d17521dcbc6-75873916 {
    grid-row: span 2 / span 2;
  }

  #w-node-_096781e5-efad-f960-60f2-2d17521dcbc7-75873916, #w-node-_37b8bdb7-5a3e-deea-509d-520a32ec30c9-75873916 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-_56de7f88-3bba-9c64-bfb3-9442991bcacb-ebbb07ce {
    grid-template-rows: auto auto;
    grid-template-columns: 2fr 1fr;
  }

  #w-node-_56de7f88-3bba-9c64-bfb3-9442991bcacc-ebbb07ce {
    grid-row: span 2 / span 2;
  }

  #w-node-_56de7f88-3bba-9c64-bfb3-9442991bcad0-ebbb07ce, #w-node-_56de7f88-3bba-9c64-bfb3-9442991bcad2-ebbb07ce {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_0dc899f2-a213-647f-8d35-2cd248ae12bc-e7872188, #w-node-_171156eb-ecae-0fe7-fe10-886ebfee727a-4d6a704a {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }

  #w-node-_096781e5-efad-f960-60f2-2d17521dcbc6-75873916 {
    grid-area: span 2 / span 2 / span 2 / span 2;
  }

  #w-node-_779cabd3-7149-152c-5e60-95e08a6f5a80-75873916, #w-node-_1d6c0257-f138-6b93-ad5c-d38c9fd47028-1f1a769d, #w-node-_5faaf567-6a44-7eb8-575b-5ee658c76895-093eff72 {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }

  #w-node-_56de7f88-3bba-9c64-bfb3-9442991bcacc-ebbb07ce {
    grid-area: span 2 / span 2 / span 2 / span 2;
  }
}


@font-face {
  font-family: 'Benedict';
  src: url('../fonts/Benedict.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}